a[aria-label="Ouvrir la photo"] img:not(:hover) {
    opacity: 0.25;
    filter: blur(16px);
}

div[role="row"]:not(:hover) div[dir="auto"] {
    filter: blur(2px);
}

div[role="navigation"] div[role="row"]:not(:hover) {
    filter: blur(2px);
}

div[role="row"]:not(:hover) video {
    opacity: 0;
}

div[contenteditable="true"]:not(:hover) {
    filter: blur(2px);
}
